<div class="container">
<div class="highlight">
{% for u in use %}
	<div class="row">
		<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-4 text-center">
                    <figure>
                        <img src="{{ 'https://cdn.42.fr/userprofil/profilview/' ~ u.username  ~ '.jpg' }}" alt="" class="img-rounded img-responsive">
                    </figure>
				</div>
                <div class="col-xs-12 col-sm-8">
                    <h2>{{ u.name }} </h2>
				    <p><strong>{{ 'login'|trans }}:</strong> {{ u.username }}</p
				    <p><strong>{{ 'Uid'|trans }}:</strong> {{ u.Nbuid }}</p>
					<p><i class="fa fa-envelope"></i> {{ u.email }}</p>
                </div>

 </div>
            </div>
    	</div>
	</div>
</div>

<div class="container">
<div class="highlight">
<h3>Modules </h3>
<table class="table table-hover">
<tr class="infos"><th>Module</th>
<th> Credit </th>
<th> Grade </th>
<th> Moyenne</th></tr>
{% for a in mod %}
<tr class="success"><td>{{ a.module }}</td>
<td> {{ a.module.credit }}</td>
{% if a.grade == 'None' %}
<td> En cours </td>
{% else %}
<td> {{ a.grade }}</td>
{% endif %}
<td> {{ a.average }}</td></tr>
{% endfor %}
</table>
<h3>Notes</h3>
<table class="table table-hover">
<tr class="infos"><th>Module</th>
<th> Activite </th>
<th> Correcteur </th>
<th> Note </th>
{% for m in mark %}
<tr class="success"><td>{{ m.activity.module }}</td>
<td> {{ m.activity }}</td>
<td> {{ m.corrector }}</td>
<td>{{ m.score }}</td></tr>
{% endfor %}
</table>
{% else %}
<center> User Not found </center>
{% endfor %}
	</div>
</div>
