{% extends "::base.html.twig" %}

{% block title %}E-Learning{% endblock %}
{% block body %}
{% if is_granted('ROLE_ADMIN') %}
<div class="highlight"><i class="fa fa-download"></i> <b>Ajout d'un cours</b>
<div>
	<form action="#" method="post" {{ form_enctype(form) }}>
		<p>{{ form_widget(form) }}</p>
		<input type="submit" class="btn btn-primary" value="Uploader" />
	</form>
</div>
</div>
{% endif %}
<h1>E-Learning</h1>
<ul class="nav nav-list">
{% for m in mods %}
<div class="highlight" onclick="$('#target{{ m.id }}').toggle();"><i class="fa fa-th-list"></i><b> {{ m.name }} </b>
	<li id="target{{ m.id }}">
		<ul class="nav nav-list">
			{% for a in act %}
				{% if a.module == m %}
				<li>
					<a href="{{ path('philemon_learning_show', {'activity_id': a.id}) }}">{{ a.name }}</a>
				</li>
				{% endif %}
			{% endfor %}
		</ul>
	</li>
</div>
{% endfor %}
</ul>
{% endblock %}
