<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Philemon - {% block title %}Home{% endblock %}</title>
		{%- block stylesheets -%}
		{%- endblock -%}
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
		<link href="{{ asset('css/bootstrap.css') }}" type="text/css" rel="stylesheet">
		<link href="{{ asset('css/sb-admin.css') }}" rel="stylesheet">
		<link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.min.css') }}">
		<script src="{{ asset('js/jquery-1.10.2.js') }}"></script>
		<script src="{{ asset('js/bootstrap.js') }}"></script>
		<script src="{{ asset('js/search.js') }}"></script>
		{% block javascripts %}
		{% endblock %}
	</head>
	<body>
		<div id="wrapper">
			<!-- Sidebar -->
			{% block navigation %}
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<a class="navbar-brand" href="{{ path('philemon_home_homepage') }}"><i class="fa fa-home"></i> Philemon - intra</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<form class="navbar-form navbar-left form-search" role="search">
					<div class="form-group">
						<input type="text" class="form-control input-search" placeholder="Rechercher">
					</div>
					<button type="submit" class="btn btn-default btn-search"><span class="glyphicon glyphicon-search"></span></button>
				</form>
				<ul class="nav navbar-nav side-nav">
					<li><a href="{{ path('philemon_module_homepage') }}"><i class="fa fa-briefcase"></i> Module</a></li>
					<li><a href="{{ path('philemon_learning_homepage') }}"><i class="fa fa-th-list"></i> E-Learning</a></li>
					<li><a href="{{ path('ccdn_homepage') }}"><i class="fa fa-users"></i> Forum</a></li>
					<li><a href="{{ path('hackzilla_ticket') }}"><i class="fa fa-ticket"></i> Ticket</a></li>
					<li><a href="{{ path('calendar_index') }}"><i class="fa fa-calendar"></i> Calendar</a></li>
					<li><a href="{{ path('philemon_trombi') }}"><i class="fa fa-users"></i> Trombi</a></li>
					{% if is_granted('ROLE_ADMIN') %}
						<li><a href="{{ path('sonata_admin_redirect') }}"><i class="fa fa-user"></i> Admin</a></li>
						<li><a href="{{ path('ccdn_forum_admin_index') }}"><i class="fa fa-user"></i> Forum Admin</a></li>
					{% endif %}
				</ul>
				<ul class="nav navbar-nav navbar-right navbar-user">
					<li class="dropdown user-dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ app.user.username }} <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="{{ path('philemon_profile', { 'slug': app.user.username }) }}"><i class="fa fa-user"></i> Profile</a></li>
						<li class="divider"></li>
						<li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off"></i> Log Out</a></li>
					</ul>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
			</nav>
			{% endblock %}

			<div id="page-wrapper">
				<div class="row">
					<div class="col-lg-12">
						<ol class="breadcrumb">
						{% block sonata_breadcrumb %}
							{% set paths = app.request.requestUri('_route')|trim('/')|split('/') %}
							{# set paths = app.request.attributes.get('_route')|trim('/')|split('/') #}
							{% for patho in paths %}
							{% if not loop.last  %}
										<li><a href="{{ path('philemon_home_homepage') }}"><i class="icon-dashboard"></i>{{ patho }}</a></li>
									{% else %}
										<li class="active"><i class="icon-file-alt"></i> {{ patho }} </li>
									{% endif %}
									{% endfor %}
							{% block body3 %}
							{% endblock body3 %}
                                {% endblock sonata_breadcrumb %}

						</ol>
					</div>
				</div><!-- /.row -->
				{% block body %}
					{% block body2 %}
					{% endblock body2 %}
				{% endblock body %}
			</div><!-- /#page-wrapper -->
		</div><!-- /#wrapper -->
	</body>
</html>
