{% extends "::base.html.twig" %}

{% block title%}Module{% endblock %}
{% block body %}
<div>
<h1>{{ mod.name }}
{% if mod.dateEndInscription|date('Y-m-d') >= "now"|date("Y-m-d") %}
{% if register == true %}
	<a href="{{ path('philemon_module_unregister', {'module_id': mod.id}) }}">
	<div class="btn btn-danger">Se desinscrire <span class="glyphicon glyphicon-remove-circle"></span></div></a>
{% else %}
	<a href="{{ path('philemon_module_register', {'module_id': mod.id}) }}"><div class="btn btn-success">S'inscrire <span class="glyphicon glyphicon-ok-circle"></span></div></a>
{% endif %}
</h1>
<h4 style="color:LightGrey;">{{ "( " ~ mod.credit ~ " credits )" }}</h4>
</div>
<h5>{{ "Fin d'inscription le " ~ mod.dateEndInscription|date('Y-m-d') }}</h5>
{% else %}
<h5>{{ "Les inscriptions sont terminees" }}</h5>
{% endif %}
</h1>
<h5>Etudiants inscrits :</h5>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent }}%;">
      <span>{{ current }}/{{ mod.maxplace }}</span>
  </div>
</div>
<h3>Activities</h3>
<ul class="nav nav-list bs-docs-sidenav">
{% if act %}
{% for a in act %}
	<li>
	{% if register == true %}
		<div class="highlight" onclick="$('#target{{ a.id}}').toggle();"><i class="fa fa-share-square-o"></i>
		<b>
			<a href="{{ path('philemon_activity_show', {'activity_id': a.id}) }}">{{ a.name }}</a>
		</b>
		<div style="display:none" id="target{{ a.id }}">
			{{ render (path('philemon_activity_show_resume')~'/'~a.id) }}
		</div>
		</div>
	{% else %}
	{{ a.name }}
	{% endif %}
	</li>
{% endfor %}
{% endif %}
</ul>
{% endblock %}
