{% extends "::base.html.twig" %}
{% block body %}
<h5>{{'Correction du projet ' ~ name.name }}</h5>
{% set d = 0 %}
{{ form_start(form) }}
{% for a in cor %}
<div class="highlight">
<h5>{{ a.name ~ ':'}}</h5>
<p>{{ a. description }}</p>

{{ form_widget(attribute(form, 'notes'  ~ d) , {'attr': {'class':'form-control'}}) }}
</br>
{{ form_widget(attribute(form, 'comment'  ~ d) , {'attr': {'class':'form-control'}}) }}
{% set d = d + 1 %}
</div>
{% endfor %}
{{ form_errors(form) }}
<input type="submit" class="btn btn-primary" onclick="return confirm('Confirmer?');" />
{{ form_end(form) }} 

{% endblock %}
